$mainFontSize: 10px;
$mainColor: #888;
$linkColor:#369;
$linkAlt: #7CFC00;
$linkColorChange: 0.5s;
$footerLinkAlt: #900;
@mixin colorChange($transSpeed) {
    text-decoration: none;
    -webkit-transition:color $transSpeed ease-out;
    -moz-transition:color $transSpeed ease-out;
}
body {font-size: $mainFontSize;}
div { float: left; position: relative; padding-left: 5px; }
div#rightNow { float:none; padding-left: 40%; }
article {
    clear: both;
    header, footer, h1, p { display: inline; }
    p { display: none; }
    a {
	@include colorChange($linkColorChange);
	text-decoration: none;
	&:link, &:visited { color:$linkColor; }
	&:hover { color: $linkAlt; }
    }
    footer { 
    	color: $mainColor;
	    p {
	        padding-left: 3px;
    	    display:inline;
    	}
    	a { 
    	    &:link, &:visited { color: $linkColor; }
    	    &:hover { color: $footerLinkAlt; }
    	
    	}
    }
}
span.when { border-bottom: 1px dotted #444; }

