RewriteEngine On
# For the Mini News Feed Digest
RewriteBase /NewsDigest

RewriteRule ^mini/$ mini.php [L]
RewriteRule ^mini/([^/d]+)/?$ mini.php?type=$1 [L]

# For the normal News Feed Digest
RewriteRule ^([^/.]+)/?$ index.php?type=$1 [L]
