/* 
    Document   : digest
    Created on : Jun 14, 2012, 11:11:25 PM
    Author     : Neo
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {font-size: 10px;}
article header {float: left;}
article p {float:left; padding-left: 3px;}
article a:link, article a:visited {color:#369;}
article a:hover {color: #7CFC00;}
article {clear:both;}
article footer {color: #888;}
article footer a {color: #565656;}
a {text-decoration: none;}
span.when {border-bottom: 1px dotted #444;}

